<div class="center hero-unit">
<% provide(:title, 'Home') %>
<h1>Welcome to Thor Platform</h1>
<p>This is an early prototype</p>
<%= link_to "Sign up now!", '#', class: "btn btn-large bth-primary"  %>
</div>
