<% if mesg.errors.any? %> 
<div id="error_explanation">
  <div class="alert alert-error">
    The form contains <%= pluralize(mesg.errors.count, "error")  %>.
  </div>
  <ul>
    <% mesg.errors.full_messages.each do |msg| %>
    <li>* <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
