<% provide(:title, @lbd_page.name) %>

  <div class="row">
    <aside class="span4">
      <section>
        <h1><%= @lbd_page.name  %></h1>
        <p>Company Id: <%= @lbd_page.id %></p>
        <p>Description: <%= @lbd_page.description %>
      </section>
    </aside>
  </div>