  <header class="navbar">
    <div class="navbar">
           
      <%= link_to "Thor Platform", "#", id: "logo", class: "navbar-brand"%>
      <nav>
        <ul class="nav nav-pills">
          <li><%= link_to "Home", '#' %></li>
          <li><%= link_to "Help", '#' %></li>
          <li><%= link_to "Sign In", '#' %></li>
        </ul>
      </nav>
    </div>
  </header>
